@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-bebas: var(--font-bebas);
  --font-cinzel: var(--font-cinzel);
  --font-greatvibes: var(--font-greatvibes);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;; /* default body font */
}

@layer utilities {
  .font-bebas {
    font-family: var(--font-bebas);
  }
  .font-cinzel {
    font-family: var(--font-cinzel);
  }
  .font-pinyon {
    font-family: var(--font-pinyon), cursive; 
  }
}